*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    align-items: center;
    top: 200px;
    left: auto;
    right: auto;
    outline: none;
}

.score
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 400%;
    font-weight: 900;
}

#wrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#test-comp
{
    display: flex;
    justify-content: center;
}