@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.nav-space {
	display: flex;
	justify-content: center; /* Centers flex container horizontally */
	position: fixed; /* Always at same position */
	top: 0;
	width: 100%;
	z-index: 1030; /* Ensure it's above other elements */
	font-family: 'Roboto', sans serif;
	font-weight: 700;
}

.nav-space .navbar {
	margin: 0 auto;  /* Center the navbar */
	display: table;
	background: linear-gradient(to top, rgb(74, 206, 91),   rgb(96, 222, 226));
	padding: 10px 35px; /* Top and bottom padding */
	box-sizing: border-box; /* Includes padding in size */
	text-align: center; /* Centers text inside navbar */
	border-radius: 30px;

}
  
.navbar .container {
	display: flex;
	justify-content: space-between; /* Evenly distributes items in container */
	align-items: center;
}

.navbar .me-auto {
	flex: 1;
	display: flex;
	justify-content: center;
}

.nav-space .navbar .nav-link {
    display: flex; /* Use flexbox for nav-link */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
}

.nav-space .nav-link {
	padding-right: 20px;
    color: rgb(77, 63, 44); /* Icon color */
	transform: scale(1.2);
}

.nav-space .nav-link:hover {
    color: rgb(124, 102, 71) !important;
}

.nav-space .navbar .nav-link i {
    font-size: 1 rem; /* Icon size */
    transform: scale(2.5); /* Scale icon */
    display: inline-block;
    vertical-align: middle;
    color: rgb(77, 63, 44); /* Icon color */
	padding-right: 7 px; /* Check? */ 
}

.nav-space .navbar .nav-link t {
    font-size: 1 rem; /* Icon size */
    transform: scale(1.5); /* Scale icon */
    display: inline-block;
    vertical-align: middle;
    color: rgb(77, 63, 44); /* Icon color */
	padding-left: 7px;/* Check? */
	padding-right: 7px;/* Check? */
}
.nav-space .navbar .nav-link i:hover,
.nav-space .navbar .nav-link t:hover {
    color: rgb(124, 102, 71);
}

/*  				*/
/*	Dropdown menus	*/
/*					*/
.nav-space .dropdown-toggle {
    color: rgb(77, 63, 44); /* Navbar language color */
	transform: scale(1.2);
}

.nav-space .dropdown-toggle:hover {
    color: rgb(124, 102, 71) !important;
}

.nav-space .dropdown-toggle:focus{
    color: rgb(77, 63, 44); /* Icon color */
}

.nav-space .dropdown-toggle:active,
.nav-space .dropdown-toggle.show {
    color: rgb(124, 102, 71) !important;
}

/* Show dropdown on hover */
.nav-space .nav-item.dropdown:hover .dropdown-menu {
    display: block !important;
}

/* Remove arrow from dropdown */
.no-arrow-dropdown .dropdown-toggle::after {
	display: none !important;
}

