html, body {
	height: 100%;
	min-height: 100% !important;
	margin: 0;
	padding: 0;
}

.bg-fade {
	height: 100vh;
	width: 100vw;
	background-color: black;
}

.navbar-hidden {
	display: none;
}

canvas {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -900;
  }

.profile-card {
	margin: 15px;
}

.float-right {
    float: right;
}

.float-right {
    float: left;
}

#tournament-options {
    transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
}

#tournament-options.d-flex {
    max-height: 200px; /* Adjust as needed */
    opacity: 1;
}

#playerSelectForm {
	position: absolute;
	top: 10%; /* Adjust vertical positioning */
	right: 10%; /* Adjust horizontal positioning */
	z-index: -999;
	background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  #playerSelectForm label {
	display: block;
	margin-bottom: 10px;
  }
  #playerSelectForm input[type="text"],
  #playerSelectForm input[type="submit"] {
	width: 100%;
	margin-bottom: 15px;
	padding: 10px;
	font-size: 16px;
  }

  .player-entry {
    margin-bottom: 10px;
}

.player-entry .username {
    font-weight: bold;
}

.player-entry .status {
    color: #666;
}

.error-message {
	z-index: 100
}

.min-height-four-lines {
	min-height: calc(4 * var(--bs-body-font-size) * var(--bs-body-line-height));
	padding: 1rem;
}